{% extends "layout.html"%}
{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <!-- To add here -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>

        <tbody>
            <!-- Loop over something via Jinja -->
             {% for index in indexes %}
               <tr>
                    <td class="text-start">{{ index.symbol }}</td>
                    <td class="text-end">{{ index.shares }}</td>
                    <td class="text-end">{{ index.price  | usd }}</td>
                    <td class="text-end">{{ (index.price * index.shares)  | usd }}</td>
               </tr>
               {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end"> {{cash}} </td>
            </tr>

            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 text-end"> {{ total | usd }}</td>
            </tr>
        </tfoot>

    </table>
{% endblock %}
